.backdrop{
    background-color:rgb(75, 75, 75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.course-button{
    height: 20px;
    width: 20px;
}

h1 {
    color: darkorange;
}

h2 {
    color: white;
}

p {
    color: white;
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}

li {
    list-style-type: none;
    justify-content: center;
    display: flex;
}

._2021 {
    column-count: 3;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

._2022 {
    columns: 3;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

._2023 {
    columns: 3;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.SP{
    column-count: 1;
    list-style-type: none;
    width: fit-content;
    display: block;
    justify-content: center;
}

.SU{
    column-count: 1;
    list-style-type: none;
    width: fit-content;
    justify-content: center;
    display: block;
}

.AU{
    column-count: 1;
    list-style-type: none;
    width: fit-content;
    justify-content: center;
    display: block;
}

.detail {
    color:rgb(255, 255, 255);
    position: sticky;
    bottom: 550px;
    justify-content: center;
    width: 350px;
}