.container{
    height: fit-content;
}

footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 55px;
    width: 55px;
    margin: auto;
}