<mat-toolbar color="primary">
    <a routerLink="" class="name">Shritan Gunday's Website</a>
        <div class="spacer"></div>
        <a href="https://www.linkedin.com/in/shritangunday" target="_blank">
            <img src="assets/linkedin.png" alt="linkedin" class="linkedinlogo">
        </a>
        <a href="https://www.github.com/shritangunday" target="_blank">
            <img src="assets/github.png" alt="github" class="githublogo">
        </a>
        <a href="mailto:gunday.1@buckeyemail.osu.edu">
            <img src="assets/outlook.png" alt="outlook" class="outlooklogo">
        </a>
   </mat-toolbar>