<mat-toolbar color="primary">
    <a routerLink="" class="name">Shritan Gunday</a>
    <div class="spacer"></div>
    <a href="https://www.linkedin.com/in/shritangunday" target="_blank">
        <img src="assets/linkedin.png" alt="linkedin" class="linkedinlogo">
    </a>
    <div class="box">
        <p></p>
    </div>
    <a href="https://www.github.com/shritangunday" target="_blank">
        <img src="assets/github.png" alt="github" class="githublogo">
    </a>
    <a href="mailto:gunday.1@buckeyemail.osu.edu">
        <img src="assets/outlook.png" alt="outlook" class="outlooklogo">
    </a>
    <img src="assets/mario-walking.gif" alt="mario" class="mario">
    <img src="assets/pipe.png" alt="pipe1" class="pipe1">
    <img src="assets/pipe.png" alt="pipe2" class="pipe2">
</mat-toolbar>